<ion-header>
    <ion-toolbar>
      <ion-title>
        {{ 'Purchase Orders' | translate}}
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="utilProvider.shipments?.length; else noShipments">
      <div>
        <ion-searchbar [(ngModel)]="shipmentId" placeholder="{{ 'Search' | translate }}" (keypress)="getShipment($event, shipmentId)"
          (ionClear)="clearShipment()">
        </ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let shipment of utilProvider.shipments" [routerLink]="['/purchase-orders', shipment.id]">
            <ion-label>
              <h2>Purchase Order Number</h2>
              <p>{{ shipment?.statusId }}</p>
            </ion-label>
            <ion-note slot="end" [color]="shipment.shipmentStatus === 'Received' ? 'success' : 'primary' ">
              ETA
            </ion-note>
          </ion-item>
        </ion-list>
        <div class="ion-text-center">
          <ion-button color="dark" fill="outline" *ngIf="!shipmentId" (click)="loadMoreShipments()">
            <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
            {{ 'Load More Orders' | translate }}
          </ion-button>
        </div>
      </div>
    </ng-container>
    <ng-template #noShipments>
      <image class="empty-state-image" src ="assets/imgs/no-shipments.png"></image>
    </ng-template>
</ion-content>    
    
 