VITE_I18N_LOCALE=en-US
VITE_I18N_FALLBACK_LOCALE=en-US
VITE_CACHE_MAX_AGE=3600
VITE_BASE_URL=
VITE_VIEW_SIZE=10
VITE_APP_PERMISSION_ID="RECEIVING_APP_VIEW"
VITE_ALIAS={}
VITE_DEFAULT_LOG_LEVEL="error"
VITE_NOTIF_APP_ID=RECEIVING
VITE_NOTIF_ENUM_TYPE_ID=NOTIF_RECEIVING
VITE_FIREBASE_CONFIG={"apiKey": "","authDomain": "","databaseURL": "","projectId": "","storageBucket": "","messagingSenderId": "","appId": ""}
VITE_FIREBASE_VAPID_KEY=""
VITE_SHOPIFY_API_KEY=
VITE_SHOPIFY_SCOPES=
VITE_SHOPIFY_REDIRECT_URI=
VITE_SHOPIFY_SHOP_CONFIG={"":  { "apiKey": "", "maarg": "" }}
VITE_DEFAULT_PRODUCT_STORE_SETTINGS={"PRDT_IDEN_PREF":{"stateKey":"productIdentifier.productIdentificationPref","value":{"primaryId":"SKU","secondaryId":"productId"}},"RECEIVE_FORCE_SCAN":{"stateKey":"forceScan","value":"N"},"BARCODE_IDEN_PREF":{"stateKey":"barcodeIdentifier.barcodeIdentifierPref","value":"SKU"},"RECEIVE_BY_FULFILL":{"stateKey":"receiveByFulfillment","value":"N"}}
