<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'Settings' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-item lines="none">
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-label>{{ 'Store' | translate }}</ion-label>
      <ion-select [(ngModel)]="facilityIndex" interface= "popover" (ionChange) = "setFacility()">
        <ion-select-option *ngFor="let facility of facilities let selectedIndex = index" [value]="selectedIndex">{{facility.name ? facility.name :  facility.facilityId}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item (click)="logout()" lines="none">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>{{ 'Logout' | translate }}</ion-label>
    </ion-item>
  </div>
</ion-content>