<ion-content>
  <div>
    <form  #form="ngForm" (ngSubmit)="install(shopOrigin)">
      <ion-list>
        <img [src]="companyLogo">
        <ion-item lines="full">
          <ion-input [(ngModel)] = "shopOrigin" name="shopOrigin" type="text" required></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button type="submit" color="primary" fill="outline" expand="block" class="ion-no-margin">
          {{ 'Install' | translate }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>